<body>
  <div class="container">
    <h1 style="text-align: center" class="display-1">Đăng Ký</h1>

    <div class="reg">
      <form method="POST">
        <div class="input-group mb-3">
          <input
            name="fullname"
            type="text"
            class="form-control"
            placeholder="name"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Fullname</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <input
            name="email"
            type="text"
            class="form-control"
            placeholder="Email Address"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"
              >Email Address</span
            >
          </div>
        </div>

        <div class="input-group mb-3">
          <input
            name="password"
            type="text"
            class="form-control"
            placeholder="Password"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Password</span>
          </div>
        </div>

        <button
          style="width: 1300px"
          type="submit"
          class="btn btn-secondary btn-lg btn-block"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</body>
